img{
    height: 20rem;
    width: 20rem;
}

main {
    width: 100%;
    height:50vh;
    position: relative;
}

footer{
    height:50vh;
    position: relative;
}

h1, .button, #display, .formSection{
    text-align: center;
    padding: 0.5rem;
}
